<?xml version="1.0" encoding="UTF-8"?>
<included>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<jmxConfigurator />

	<springProfile name="dev">
		<property name="envTier" value="dev" />
	</springProfile>

	<springProfile name="uat">
		<property name="envTier" value="uat" />
	</springProfile>

	<springProfile name="prod">
		<property name="envTier" value="prod" />
	</springProfile>

	<springProfile name="server">
		<springProperty scope="context" name="springAppName"
			source="spring.application.name" />

		<appender name="KAFKA"
			class="com.github.danielwegener.logback.kafka.KafkaAppender">
			<encoder
				class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
				<providers>
					<!-- <timestamp> <timeZone>UTC</timeZone> </timestamp> -->
					<pattern>
						<pattern>
							{
							"severity": "%level",
							"service": "${springAppName:-}",
							"host": "${HOSTNAME:-}",
							"ip": "${IP:-}",
							"env": "${envTier:-}",
							"trace": "%X{X-B3-TraceId:-}",
							"span": "%X{X-B3-SpanId:-}",
							"parent": "%X{X-B3-ParentSpanId:-}",
							"exportable": "%X{X-Span-Export:-}",
							"pid": "${PID:-}",
							"thread": "%thread",
							"class": "%logger{40}",
							"fullClass": "%logger",
							"message": "%message"
							}
						</pattern>
					</pattern>
				</providers>
			</encoder>
			<topic>logs</topic>
			<keyingStrategy
				class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy" />
			<deliveryStrategy
				class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
			<producerConfig>bootstrap.servers=elkserver:9092</producerConfig>
			<producerConfig>retries=2</producerConfig>
		</appender>

		<root level="info">
			<appender-ref ref="KAFKA" />
		</root>
	</springProfile>
</included>